<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.1.0" targetFramework="net46" />
  <package id="Caliburn.Micro" version="3.0.3" targetFramework="net46" />
  <package id="Caliburn.Micro.Core" version="3.0.3" targetFramework="net46" />
  <package id="libsodium-net" version="0.10.0" targetFramework="net46" />
  <package id="NUnit" version="3.6.1" targetFramework="net46" />
</packages>