<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleDnsCrypt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="file" xsi:type="File"
                layout="${longdate} ${logger} ${message}"
                archiveEvery="Day"
                maxArchiveFiles="1"
                fileName="${basedir}/logs/${cached:${date:format=yyyy-MM-dd HH_mm_ss}}_${level}.log"
                archiveFileName="${basedir}/logs/{#}.log"
                archiveDateFormat="yyyy-MM-dd HH_mm_ss"
                archiveNumbering="Date"/>
      </targets>
      <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
      </rules>
    </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SimpleDnsCrypt.Properties.Settings>
            <setting name="IsQueryLogTabVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDomainBlacklistTabVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDomainBlockLogTabVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAddressBlockLogTabVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAddressBlacklistTabVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAdvancedSettingsTabVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferredLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="MinUpdateType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DomainWhitelistRules" serializeAs="String">
                <value />
            </setting>
            <setting name="DomainBlacklistRules" serializeAs="String">
                <value />
            </setting>
            <setting name="DomainBlacklistFile" serializeAs="String">
                <value />
            </setting>
            <setting name="QueryLogFile" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdateSilent" serializeAs="String">
                <value>False</value>
            </setting>
        </SimpleDnsCrypt.Properties.Settings>
    </userSettings>
</configuration>